.area {
  position: relative;
  width: 620px;
  height: 620px;
  background-color: blanchedalmond;

  margin: 120px auto;
}

.ball {
  position: absolute;
  top: 30px;
  right: 20px;
  width: 30px;
  height: 30px;
  background-color: aquamarine;
}
